<!DOCTYPE html>
<html lang="pt-br">
    <!-- Esse recurso se chama partials e permite comolocar trechos de codigo em outros arquivos para evitar tepetir codigos va na pasta views/partials para auterar-->
    <%- include ('./partials/head.ejs')%>
<body>
    <header><%- include ('./partials/nav.ejs')%></header>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Pesquisar</h1>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Nome do local">
            </div>
        </div>
    </div>
</body>
<%- include ('./partials/footer.ejs')%>
</html>